<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".internal.MatisseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Matisse.Theme"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".internal.MatisseCaptureActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Matisse.Theme.Capture" />
        <activity
            android:name=".internal.MatisseVideoViewActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Matisse.Theme.VideoView"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>