<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application>
        <!-- 界面由 Compose 构建，configChanges 中的配置变化通过重组适配而不重建 Activity，避免打断分页加载与拍照收尾 -->
        <activity
            android:name=".internal.MatisseActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Matisse"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".internal.MatisseCaptureActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Matisse.Capture" />
    </application>
</manifest>