<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.leavesczy.matisse">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".internal.MatisseActivity"
            android:configChanges="orientation|uiMode|keyboard|keyboardHidden"
            android:exported="false" />
    </application>
</manifest>